fastapi
grandalf==0.8
jinja2
langchain==0.3.27
langchain-community==0.3.31
langchain-core==0.3.79
langchain-google-genai==2.1.12
langchain-milvus==0.2.1
langchain-text-splitters==0.3.11
pydantic
pymilvus[milvus_lite]==2.6.2
python-dotenv
pyyaml
sentence-transformers
uvicorn